In [1]:
import pandas as pd
import numpy as np

In [2]:
df_titanic = pd.read_csv('titanic.csv')

In [3]:
df_titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    object
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    object
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), float64(2), int64(4), object(7)
memory usage: 92.4+ KB

In [4]:
df_titanic.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [5]:
df_titanic_2 = df_titanic.drop(columns='deck')
df_titanic_2.dropna(subset=['embark_town'], axis=0, inplace=True)

In [8]:
mediana_classe1 = df_titanic_2[df_titanic_2['pclass'] == 1]['age'].median()
mediana_classe2 = df_titanic_2[df_titanic_2['pclass'] == 2]['age'].median()
mediana_classe3 = df_titanic_2[df_titanic_2['pclass'] == 3]['age'].median()

In [11]:
print(mediana_classe1)
print(mediana_classe2)
print(mediana_classe3)

37.0
29.0
24.0

In [12]:
for index, row in df_titanic_2.iterrows():
    if row['pclass'] == 1 and pd.isnull(row['age']):
        df_titanic_2.at[index, 'age'] = mediana_classe1
    elif row['pclass'] == 2 and pd.isnull(row['age']):
        df_titanic_2.at[index, 'age'] = mediana_classe2
    elif row['pclass'] == 3 and pd.isnull(row['age']):
        df_titanic_2.at[index, 'age'] = mediana_classe3

In [17]:
df_titanic_2.isnull().sum()

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
embark_town    0
alive          0
alone          0
dtype: int64